@charset "utf-8";

body, html{
  height:100%;
  background: url(../images/1.jpg) no-repeat;
  background-size:100% auto;
  
  #wrapper{
    display: -webkit-flex;
    display:flex;
    align-items: center;
    height:calc(100%);
	
	> div{
	  width:760px;
	  margin:0 auto;
	}
	.panel{
	  width:100%;
	  border-radius:2px;
	  height:480px;
	  display:flex;
      display: -webkit-flex;
	  align-items: stretch;
	  
	  .left-panel{
	    flex:3;
		background:#eee;
		border-radius:5px 0 0 5px;
		padding:30px;
		
		#welcome-text{
		  font-size:11.5px;
		  margin-top:50px;
		  margin-bottom:40px;
		  text-transform:uppercase;
		  color:#27aa9e;
		  font-weight:500;
		  
		  > span{
		    font-weight:600;
		  }
		}
		
		.input-field{
		  .prefix {
			
			&[class^="flaticon-"]:before, &[class*=" flaticon-"]:before,
			&[class^="flaticon-"]:after, &[class*=" flaticon-"]:after {
			  margin-left:0;
			  font-size:18px;
			}
			
			~ input,  ~ textarea, label{
			  margin-left:35px!important;
			}
		  }
		  label{
			width:100%;
			margin-left:27px!important;
			top:4px;
		  }
		  
		  .btn-large{
		    width:100%;
			box-shadow:none;
		  }
		}
	  }
	  
	  .right-panel{
	    flex:2;
	    background: url(../images/computer.jpg) no-repeat center center;
		background-size:auto 120%;
	    border-radius:0 5px 5px 0;
		padding:50px 20px 0;
		
		.logo{
		  height:120px;
		}
		
		.title, .sub-title{
		  color:rgba(255,255,255,0.4);
		}
		
		.title{
		  /*font-size:58px;*/
		  font-size:45px;
		  font-weight:600;
		  margin:5px 0 0px;
		  line-height:normal;
		  letter-spacing:2;
		}
		.sub-title{
		  font-size:14px;
		  font-weight:400;  
		  text-transform:uppercase;
		  letter-spacing:2;
		}
		
		#panel-slider{
		  margin-top:65px;
		  color:rgba(255,255,255,0.4);
		  font-size:14px;
		  font-weight:300;
		  padding:0 20px;
		  p{
		    margin:0;
		  }
		  
		  .item{
		    > div{
			  position:relative;
			  padding-left:22px;
			  margin-bottom:2px;
			  [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
			  [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
				font-size:13px;
				margin:0 5px 0 0;
				position:absolute;
				left:0;
			  }
			}
		  }
		}
	  }
	}
	.panel-footer{
	  text-align:center;
	  color:#777;
	  margin-top:20px;
	  font-size:13px;
	  
	  a{
	    color:#777;
		
		&:hover{
		  color:#333!important;
		}
	  }
	}
  }
  
  /*************************
   FORMS
  *************************/
	.form-basic{
	  input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="time"], input[type="date"], input[type="datetime-local"], input[type="tel"], input[type="number"], input[type="search"], textarea.materialize-textarea{
		border:1px solid #bcbcbc;
		background:rgba(255,255,255,0.6);
		padding:10px;
		box-sizing: border-box;
		border-radius:2px;
		height:45px;
		font-size:14px;
	  }
	  .selectize-dropdown, .selectize-input, .selectize-input input{
		font-size:14px;
		line-height:23px;
	  }
	  textarea.materialize-textarea{
		padding:0 10px;
	  }
	  .input-field{
		label{
		  top:14px;
		  line-height:1;
		  
		  &.active{
		    color:#333;
			font-weight:500;
		  }
		}
	  }
	  .label{
		font-weight:500;
	    color:#333;
	  }
	  
	  .selectize-input{
		border:1px solid #bcbcbc!important;
		background:rgba(255,255,255,0.6)!important;
		border-radius:2px!important;
		padding:10px 35px 10px 10px!important;
		box-shadow:none!important;
		height:45px;
		
		input[type="text"]{
		  height:auto!important;
		  line-height:24px!important;
		  background:none!important;
		}
	  }
	  
	  .form-header{
		font-size:17px;
	  }
	  
	  .row{
		> .col{
		  .input-field{
			label{
			  &.active{
				transform: translateY(-280%);
				left:0;
			  }
			}
			
			.selectize-control{
			  &.single, &.multi{
				.selectize-input{
				  background:none;
				  border:1px solid #eee;
				  box-shadow:none;
				  padding:10px;
				  font-size:15px;
				  border-radius:2px;
				}
			  }
			}
		  }	
		}
	  }
	}
  
  /*************************
   MODAL
  *************************/
  #modal_sign_up{
    > .md-content{
      background:#d2d1d1 url(../images/sign_up.png) no-repeat;
	  background-size:100% auto;
	  position:relative;
	  padding-bottom:30px;
	  
	  .parsley-errors-list{
	    margin:0;
		
		.parsley-required{
		  font-size:13px!important;
		  color:#C72527;
		}
	  }
	  
	  .md-close{
	    position:absolute;
		right:10px;
		top:3px;
		font-size:25px;
		text-shadow:0 1px 1px #fff;
		color:#333;
		z-index:1;
		cursor:pointer;
	  }
	  .md-header{
	    background:none;
		margin:0;
		padding:0;
	  }
	  #modal_sign_up_content{
	    .logo{
		  width:auto;
		  height:80px;
		  margin:20px 0 15px;
		}
		
		h5{
		  font-size:18px;
		  font-weight:500;
		  margin-bottom:0px;
		  
		  + p{
		    font-size:13px;  
		  }
		}
  
	    button[type="submit"]{
		  box-shadow:none!important;
		  width:100%;
		  display:block;
		  background:#1FBBA6;
		  font-size:15px;
		  padding:10px;
		  height:auto;
	    }
		
		input.labelauty{
		  + label{
		    width:auto;
			display:block;
			
			  &[for="gender_male"], &[for="gender_female"]{
				padding:0;
			  }
			  &[for="gender_male"]{
				background:none;
				color:#888;
				
				&:hover{
				  background:none!important;
				  color:#333!important;
				}
			  
				> span{
				  &.labelauty-unchecked, &.labelauty-checked{
					vertical-align:top;
					margin:20px 0 0 10px !important;
				  }
				  &.labelauty-unchecked-image, &.labelauty-checked-image{
					border:3px solid #fff;
					border-radius:50em;
					width:56px;
					height:56px;
				  }
				  
				  &.labelauty-unchecked-image{
					background-image: url(../images/male_disabled_50x50.png );
				  }
				  
				  &.labelauty-checked-image{
					background-image: url(../images/male_50x50.png );
				  }
				}
			  }
			  
			  &[for="gender_female"]{
				background:none;
				color:#888;
				
				&:hover{
				  background:none!important;
				  color:#333!important;
				}
			  
				> span{
				  &.labelauty-unchecked, &.labelauty-checked{
					vertical-align:top;
					margin:20px 0 0 10px !important;
				  }
				  &.labelauty-unchecked-image, &.labelauty-checked-image{
					border:3px solid #fff;
					border-radius:50em;
					width:56px;
					height:56px;
				  }
				  &.labelauty-unchecked-image{
					background-image: url(../images/female_disabled_50x50.png );
				  }
				  &.labelauty-checked-image{
					background-image: url(../images/female_50x50.png );
				  }
				}
			  }
		  }
		}
	  }
	}
  }
}

.none{
  display:none!important;
}

.jspVerticalBar{
  background:none!important;
  right:5px!important;
  width:13px!important;
  
  .jspTrack{
    background:rgba(0, 0, 0, 0.2)!important;
	border-radius:20px!important;
	
	.jspDrag{
      background:rgba(0, 0, 0, 0.4)!important;
	  border-radius:20px!important;
	}
  }
}