@charset "utf-8";
@import 'reset';
@import 'elements';
@import 'helpers';

/*--------------------------------------------------------------
  GENERIC
--------------------------------------------------------------*/
body, html{
  height:100%;
}
body{
  background:#C9CEDB;
  font-size:13px;
}
.container{
  width:100%!important;
  max-width:100%!important;
  padding:20px 40px!important;
}
#wrapper{
  padding-left: 240px;
  background:none;
  height:calc(100%); 
}
#sub-nav{
  height:calc(100%);
  overflow:hidden;
}
#sub-nav{
  position:fixed;
  width:250px;
  margin-left:-250px;
  top:0;
  z-index:2;
}
#content{
  position:static;
  padding-top:80px;
  -webkit-backface-visibility:hidden; 
  -webkit-transform: translateZ(0);
  
  .isloading-wrapper{
    background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
	
	> .icon-refresh{
	  width:110px;
	  height:110px;
	  background:url(../images/loading.gif) no-repeat center center;
	  display:block;
	  margin:0 auto;
	}
	
	&:not(.isloading-inside), &:not(.isloading-outside){
	  > .icon-refresh{
	    left:48%;
	    margin: 0 auto;
        position: absolute;
        top: 45%;
	  }
	}
	
	&.isloading-inside{
	  position:absolute;
	  top:48%;
  	  left:45%;
	}
  }
  
  > header{
	background:#f9fcfd;
	height:81px;
	position:fixed;
	top:0;
	width:100%;
	width:-moz-available;
	z-index:3;
	border-bottom:1px solid #E4E9E9;
	
	.header-title{
	  font-size:21px;
	  line-height:41px;
	  .m-n;
	  .font-bold;
	  color:#A8BFC4;
	}
  }
  
  > main{
    > .page-title{
	  background: #fff;
	  margin:-20px -40px 0;
	  padding:20px 40px;
	  border-bottom:1px solid #E4E9E9;
	  
	  #breadcrumbs{
	    border-bottom:2px solid #EEF1F1;
		.m-b-lg;
		> li{
		  font-size:12px;
		  .inline;
		  color:#B2BCC5;
		  .text-uppercase;
		  .font-semibold;
		  
		  &:not(:last-of-type):after{
		    content:' \276F ';
			margin:0 8px;
		  }
		  
		  a{
		    font-size:12px;
		    color:#B2BCC5;
			padding-bottom:7px;
		  }
		}
	  }
	}
  }
}

.page-footer{
  &.transparent{
    background:none!important;
	.p-t-n;
	
	.footer-copyright{
      background:none!important;
	  border-top:1px solid #999;
	  color: #777;
	  margin:0 40px;
	  .font-semibold;
	  text-shadow: 0 1px 1px #eee;
	  
	  a{
		color: #555;
		font-size:13px;
		
		&:hover{
		  color:#333;
		}
		[class^="flaticon-"]::before, [class*=" flaticon-"]::before, [class^="flaticon-"]::after, [class*=" flaticon-"]::after{
		  font-size:17px;
		  margin:0 5px 0 0;
		}
	  }
	  .footer-links{
	    li{
		  .inline;
	      margin-right:25px;
		}
	  }
	}
  }
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav{
  box-shadow:none!important;
}
/*--------------------------------------------------------------
  RESPONSIVE
--------------------------------------------------------------*/
.container-responsive {
  margin: 0 auto;
  width: 90% !important;
}

@media only screen and (min-width: 601px) {
  .container-responsive {
    width: 85% !important;
  }
}

@media only screen and (min-width: 993px) {
  .container-responsive {
    width: 70% !important;
  }
}

/*--------------------------------------------------------------
  TYPOGRAPHY
--------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6{
  font-weight:400;
  margin:10px 0;
  color:#333;
}

h1{
  font-size:30px;
}
h2{
  font-size:28px;
}
h3{
  font-size:25px;
}
h4{
  font-size:20px;
}
h5{
  font-size:17px;
}
h6{
  font-size:14px;
}

p{
  margin:10px 0;
  font-size:13px;
  color: rgba(0, 0, 0, 0.71);
  line-height:20px;
}

a{
  font-size:13px;
  
  &.btn-flat{
    color:#333!important;
  }
}

em{
  font-style:italic;
  font-size:13px;
}

.page-title{
  line-height:30px;
  position:relative;
  
  h5{
    font-size:22px;
	margin:0;
	span{
	  font-size:14px;
	  .block;
	  line-height:18px;
	  .m-t-sm;
	  .font-thin;
	}
  }
}

.header{
  .font-thin;
}
.caption {
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 30px;
  line-height:24px;
}

.page-report-title{
  background:#355175;
  padding:50px 30px 10px;
  
  h5{
    color: rgba(255,255,255,0.6);
	.font-semibold;
	font-size:23px;
	
	.report-number{
	  background: rgba(255,255,255,0.2);
	  border-radius:50em 50em 0;
	  .inline;
	  .font-semibold;
	  width:30px;
	  height:30px;
	  line-height:30px;
	  text-align:center;
	  font-size:19px;
	  .m-r-md;
	  .m-l-xs;
	  color:#355175;
	}
  }
}

.page-report-subtitle{
  h5{
    font-size:24px;
	.font-semibold;
    font-family: 'Times New Roman';
	font-style:italic;
	
	small{
	  font-style:normal;
	  .font-thin;
	  font-size:13px!important;
	  .block;
	  .text-uppercase;
	  margin-top:5px;
      font-family: roboto;
	}
  }
}

.page-report-subtitle-2{
  h5{
    font-family: 'Times New Roman';
    font-style: italic;
    margin-top: 4px;
    padding: 0 25px 12px 0;
    text-transform: uppercase;
	.font-semibold;
  }
  > div{
    .mute;
    text-transform: uppercase;
    font-family: 'Times New Roman';
    font-size: 12px !important;
  }
}

.page-content-title{
  font-size:14px;
  color:#666;
  .m-b-md;
  .font-semibold;
}

.label{
  font-weight:500;
  color:#333;
  width:auto!important;
  position:unset!important;
  display:block;
  
  &.position-right{
    position:absolute!important;
    right:20px;
	left:unset;
  }
}

.help-text{
  margin:0 0 15px;
  display:block;
  font-size:13px;
  color:#777;
  text-transform:none;
  font-weight:300;
  line-height:18px;
}

.times-new-roman{
  font-family:Times New Roman;
}
/*------------------------------------
LEGEND
-------------------------------------*/
.legend{
.inline;
background:#67D85D;
&.xs{
  width:10px;
  height:10px;
}
&.sm{
  width:15px;
  height:15px;
}
&.md{
  width:25px;
  height:25px;
}
&.lg{
  width:30px;
  height:30px;
}
&.circle{
  border-radius:50em;
}
}

/*------------------------------------
LIST STYLE
-------------------------------------*/
.list{
li{
  padding:5px 0;
}
&.square{
  li{
	list-style:inside square!important;  
  }
}
&.circle{
  li{
	list-style:inside circle!important;  
  }
}
&.disc{
  li{
	list-style:inside disc!important;  
  }
}

&.upper-roman{
  li{
	list-style:inside upper-roman!important;  
  }
}
&.lower-roman{
  li{
	list-style:inside lower-roman!important;  
  }
}
&.decimal{
  li{
	list-style:inside decimal!important;  
  }
}
&.decimal-leading-zero{
  li{
	list-style:inside decimal-leading-zero!important;  
  }
}
&.upper-alpha{
  li{
	list-style:inside upper-alpha!important;  
  }
}
&.lower-alpha{
  li{
	list-style:inside lower-alpha!important;  
  }
}
}
  
/*--------------------------------------------------------------
  GENERIC ELEMENTS
--------------------------------------------------------------*/
hr{
  border:none;
  border-top:1px solid #f5f5f5;
  border-top:1px dotted #eee;
  margin:10px 0;
}

small, .small{ 
  font-size:11px!important;
}


.b-shadow-n{
  box-shadow:none!important;
}

/*--------------------------------------------------------------
  GENERIC STYLE
--------------------------------------------------------------*/
.notif-count{
  background:#F5614F;
  border-radius:50em;
  width:12px;
  height:12px;
  line-height:20px;
  color:#fff;
  display:block;
  text-align:center;
  position:absolute;
  top:0;
  right:0;
}

.avatar-container{
  background: #F9F7EE none repeat scroll 0 0;
  border: 1px dashed #ccc;
  border-radius: 2px;
  display: inline-block;
  overflow: hidden;
  padding: 20px 5px 30px;
  text-align: center;
  position:relative;
  font-size:14px;
  color:#444;
  
  &.transparent{
    background: rgba(0, 0, 0, 0) url("../images/transparent_bg.png") repeat scroll 0 0;
  }
  &.sm {
    height: 50px;
    width: 50px;
  }
  &.md {
    height: 150px;
    width: 150px;
  }
  &.lg {
    height: 200px;
    width: 200px;
  }
  img {
    height: auto;
    max-height: 90%;
    max-width: 100%;
  }
  
  .avatar-action{
    position:absolute;
	bottom:5px;
	right:15px;
	
	.ajax-file-upload{
	  background:none;
	  color:rgba(0,0,0,0.6)!important;
	  .p-n;
	  
	  [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
	  [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	    margin:0 3px 0 0;
		font-size:15px;
	  }
	}
	.ajax-file-upload-filename{
	  display:none;
	}
	.ajax-file-upload-statusbar{
	  background:none;
	  border:none;
	  .p-n;
	  .m-n;
	  width:500px!important;
	}
	
	a{
	  font-size:13px;
	  color:rgba(0,0,0,0.6)!important;
	  
	  [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
	  [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	    margin:0 3px 0 0;
		font-size:15px;
	  }
	  
	  &:hover{
	    color:rgba(0,0,0,1)!important;
	  }
	}
  }
}

.rounded-avatar{
  border-radius:50em;
  
  &.xs{
    width:30px;
    height:30px;
  }
  &.sm{
    width:80px;
    height:80px;
  }
  &.md{
    width:150px;
    height:150px;
  }
  &.lg{
    width:200px;
    height:200px;
  }
}
/*--------------------------------------------------------------
  FORM ELEMENTS
--------------------------------------------------------------*/
.input-field{
  .prefix {
    top:0.5em;
	
	&[class^="flaticon-"]:before, &[class*=" flaticon-"]:before,
	&[class^="flaticon-"]:after, &[class*=" flaticon-"]:after {
	  margin-left:0;
	}	
	~ input,  ~ textarea{
	  margin-left:35px!important;
	}
  }
  label{
    width:100%;
  }
  
  .input-group{
	border-collapse: separate;
    display: table;
    position: relative;
	
	label{
	  left:70px;
	}
	
	input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="time"], input[type="date"], input[type="datetime-local"], input[type="tel"], input[type="number"], input[type="search"], textarea.materialize-textarea{
	  margin:0!important;
	}
	  
    .input-group-addon{
	  display:table-cell;
	  padding:9px 17px;
	  vertical-align:middle;
	  width:1%;
	  white-space:nowrap;
	  .rounded(3px);
	  background: #f7f7f7;
      border:1px solid #eee;
	  font-weight:400;
	  text-shadow:0 1px 0 #fff!important;
	  
	  &:first-child{
	    .border-radius(@topright: 0, @bottomright: 0, @bottomleft: 3px, @topleft: 3px);
		border-right:none;
	  }
	  &:last-child{
	    .border-radius(@topright: 3px, @bottomright: 3px, @bottomleft: 0, @topleft: 0);
		border-left:none;
	  }
	  
	  [class^="flaticon-"]::before, [class*=" flaticon-"]::before, [class^="flaticon-"]::after, [class*=" flaticon-"]::after{
	    font-size:15px;
	  }
	}
  }
}
textarea.materialize-textarea{
  &.lock-height{
    max-height:40px;
  }
}
.selectize{
  + .parsley-errors-list{
    margin-top:15px;
  }
  .selectize-input input[type="text"]{
    height: auto;
    margin:0;
  }
}

.form-subtitle{
  border-bottom:2px solid #eee;
  .font-bold;
  margin:15px 0 25px;
  padding-bottom:15px;
  .block;
  font-size:18px;
  .text-uppercase;
}

.parsley-error{
  border-bottom: 1px solid #F44336!important;
  box-shadow: 0 1px 0 0 #F44336!important;
  
  + .selectize{
    .selectize-input{
	  border-bottom: 2px solid #F44336!important;
	}
  }
}

.search-box{
  border:1px solid #ddd!important;
  border-radius:2px!important;
  padding:10px!important;
  box-sizing:border-box!important;
}
/*--------------------------------------------------------------
  RADIO BUTTON / CHECKBOX (JQUERY LABELAUTY)
--------------------------------------------------------------*/
  input.labelauty{
    
	/*------------------------------------
	  GENERIC
	-------------------------------------*/
	&.sm{
	  + label{
	    padding:3px!important;
		.inline;
		vertical-align: sub;
		margin-right:5px;
		
	    > span{
		  &.labelauty-unchecked, &.labelauty-checked{
		    margin: 0!important;
		  }
		  &.labelauty-unchecked-image, &.labelauty-checked-image{
		    background-size:85% auto;
		  }
		}
	  }
	}
	
    + label{
	  width:auto;
	  /*------------------------------------
		MENUBAR LAYOUT (SITE SETTINGS)
	  -------------------------------------*/
	  &[for="layout_collapsed"], &[for="layout_expanded"],
	  &[for="header_default"], &[for="header_inverse"]{
	    background:none!important;
	    padding:10px 0!important;
		
		> span{
		  &.labelauty-unchecked, &.labelauty-checked{
			margin:15px 0 10px!important;
			font-size:15px!important;
			.font-semibold;
			width:100%;
		  }
		  &.labelauty-unchecked-image, &.labelauty-checked-image{
		    box-shadow:0px 4px 5px -1px rgba(0,0,0,0.25);
		    border:2px solid #fff;
		    border-radius:2px;
		    width:270px!important;
		    height:170px!important;
		    background-size:100% 100%!important;
		  }
		  &.labelauty-checked-image{
		    border-color:#b4c1c8;
		  }
		}
	  }
	  
	  &[for="layout_collapsed"]{
	    > span{
		  &.labelauty-unchecked-image{
		    background: url(../images/collapsed.jpg) no-repeat;
		  }
		  &.labelauty-checked-image{
		    background: url(../images/collapsed_active.jpg) no-repeat;
		  }
	    }
	  }
	  
	  &[for="layout_expanded"]{
	    > span{		  
		  &.labelauty-unchecked-image{
		    background: url(../images/expanded.jpg) no-repeat;
		  }
		  &.labelauty-checked-image{
		    background: url(../images/expanded_active.jpg) no-repeat;
		  }
	    }
	  }
	  
	  &[for="header_default"]{
	    > span{		  
		  &.labelauty-unchecked-image{
		    background: url(../images/header_normal.jpg) no-repeat;
		  }
		  &.labelauty-checked-image{
		    background: url(../images/header_normal_active.jpg) no-repeat;
		  }
	    }
	  }
	  
	  &[for="header_inverse"]{
	    > span{		  
		  &.labelauty-unchecked-image{
		    background: url(../images/header_inverted.jpg) no-repeat;
		  }
		  &.labelauty-checked-image{
		    background: url(../images/header_inverted_active.jpg) no-repeat;
		  }
	    }
	  }
	  
	  /*------------------------------------
		SKINS (SITE SETTINGS)
	  -------------------------------------*/
	  &[for^="skin_"]{
		padding:0!important;
		background:none!important;
		box-shadow:0px 4px 5px -1px rgba(0,0,0,0.25);
		width:110px;
		.m-b-lg;
		
		> span{
		  &.labelauty-unchecked, &.labelauty-checked{
			padding:10px!important;
			font-size:14px!important;
			.font-semibold;
			width:110px;
			margin:0!important;
	        background:#F4F4F4;
			border-radius:0 0 2px 2px;
		  }
		  &.labelauty-unchecked-image, &.labelauty-checked-image{
			border-radius:2px 2px 0 0;
			width:110px!important;
			height:110px!important;
		  }
		  &.labelauty-checked{
			background:#555;
		  }
		}
	  }
	  
	  &[for="skin_default"]{
	    > span{
		  &.labelauty-unchecked-image{
		    background:#17BAB8;
		  }
		  &.labelauty-checked-image{
		    background: #17BAB8;
		  }
	    }
	  }
	  &[for="skin_red"]{
	    > span{
		  &.labelauty-unchecked-image{
		    background:#E23B3B;	
		  }
		  &.labelauty-checked-image{
		    background:#E23B3B;	
		  }
	    }
	  }
	  &[for="skin_green"]{
	    > span{
		  &.labelauty-unchecked-image{
		    background:#3FC678;	
		  }
		  &.labelauty-checked-image{
		    background:#3FC678;	
		  }
	    }
	  }
	  &[for="skin_lime"]{
	    > span{
		  &.labelauty-unchecked-image{
		    background:#93AC31; 
		  }
		  &.labelauty-checked-image{
		    background:#93AC31; 
		  }
	    }
	  }
	  &[for="skin_orange"]{
	    > span{
		  &.labelauty-unchecked-image{
		    background:#F0934E;
		  }
		  &.labelauty-checked-image{
		    background: #F0934E;
		  }
	    }
	  }
	  &[for="skin_violet"]{
	    > span{
		  &.labelauty-unchecked-image{
		    background:#9D67B5;
		  }
		  &.labelauty-checked-image{
		    background: #9D67B5;
		  }
	    }
	  }
	  &[for="skin_blue"]{
	    > span{
		  &.labelauty-unchecked-image{
		    background:#4697CE;
		  }
		  &.labelauty-checked-image{
		    background: #4697CE;
		  }
	    }
	  }
	  &[for="skin_pink"]{
	    > span{
		  &.labelauty-unchecked-image{
		    background:#E06D94;
		  }
		  &.labelauty-checked-image{
		    background: #E06D94;
		  }
	    }
	  }
	  
	  /*------------------------------------
		LOGIN VIA (SITE SETTINGS)
	  -------------------------------------*/
	  &[for^="login_via_"]{
		width:100%;
		border-radius:0;
		
		> span{
		  &.labelauty-unchecked, &.labelauty-checked{
		    margin-left:13px!important;
		  }
		  &.labelauty-unchecked-image, &.labelauty-checked-image{
		    width:20px;
		    height:20px;
		  }
		}
	  }
	  
	  &[for="login_via_username"]{
	    border-radius:3px 3px 0 0;
	    > span{		  
		  &.labelauty-unchecked-image{
		    background: url(../images/username_disabled.png) no-repeat;
		  }
		  &.labelauty-checked-image{
		    background: url(../images/username.png) no-repeat;
		  }
	    }
	  }
	  &[for="login_via_email"]{
	    > span{		  
		  &.labelauty-unchecked-image{
		    background: url(../images/email_disabled.png) no-repeat;
		  }
		  &.labelauty-checked-image{
		    background: url(../images/email.png) no-repeat;
		  }
	    }
	  }
	  &[for="login_via_username_email"]{
	    border-radius:0 0 3px 3px;
	    > span{		  
		  &.labelauty-unchecked-image{
		    background: url(../images/user_email_disabled.png) no-repeat;
		  }
		  &.labelauty-checked-image{
		    background: url(../images/user_email.png) no-repeat;
		  }
	    }
	  }
	  
	  /*------------------------------------
		GENDER (USER)
	  -------------------------------------*/
	  &[for="user_gender_male"], &[for="user_gender_female"],
	  &[for="profile_gender_male"], &[for="profile_gender_female"]{
	    padding:0;
	  }
	  &[for="user_gender_male"], &[for="profile_gender_male"]{
	    background:none;
		color:#888;
		
		&:hover{
		  background:none!important;
		  color:#333!important;
		}
	  
		> span{
		  &.labelauty-unchecked, &.labelauty-checked{
		    .valign-top;
		    margin:20px 0 0 10px !important;
		  }
		  
		  &.labelauty-unchecked-image{
		    background-image: url(../images/male_disabled_50x50.png );
		    width:50px;
		    height:50px;
		  }
		  
		  &.labelauty-checked-image{
			background-image: url(../images/male_50x50.png );
			width:50px;
			height:50px;
		  }
		}
	  }
	  
	  &[for="user_gender_female"], &[for="profile_gender_female"]{
		background:none;
		color:#888;
		
		&:hover{
		  background:none!important;
		  color:#333!important;
		}
	  
		> span{
		  &.labelauty-unchecked, &.labelauty-checked{
		    .valign-top;
		    margin:20px 0 0 10px !important;
		  }
		  &.labelauty-unchecked-image{
		    background-image: url(../images/female_disabled_50x50.png );
		    width:50px;
		    height:50px;
		  }
		  &.labelauty-checked-image{
		    background-image: url(../images/female_50x50.png );
		    width:50px;
		    height:50px;
		  }
		}
	  }
	  
	  &[for="user_send_email"]{
		background:none;
		color:#888;
		
		&:hover{
		  background:none!important;
		  color:#333!important;
		}
	  
		> span.labelauty-unchecked-image{
		  background-image: url(../images/email_disabled_50x50.png );
		  width:50px;
		  height:50px;
		}
	  
		> span.labelauty-checked-image{
		  background-image: url(../images/email_50x50.png );
		  width:50px;
		  height:50px;
		}
		
		> span.labelauty-unchecked,> span.labelauty-checked{
		  .valign-top;
		  margin:20px 0 0 10px !important;
		}
	  }
	  
	  &[for="user_cancel_email"]{
		background:none;
		color:#888;
		
		&:hover{
		  background:none!important;
		  color:#333!important;
		}
	  
		> span.labelauty-unchecked-image{
		  background-image: url(../images/cancel_email_disabled_50x50.png );
		  width:50px;
		  height:50px;
		}
	  
		> span.labelauty-checked-image{
		  background-image: url(../images/cancel_email_50x50.png );
		  width:50px;
		  height:50px;
		}
		
		> span.labelauty-unchecked,> span.labelauty-checked{
		  .valign-top;
		  margin:20px 0 0 10px !important;
		}
	  }
	   /*------------------------------------
		REPORT (GENERATE TYPE) Added by Ruel
	   -------------------------------------*/
	
	  &[for="report_type_excel"], &[for="report_type_pdf"]{
	    padding:0;
	  }
	  &[for="report_type_excel"]{
	    color:#888;
		background:none;
		
		&:hover{
		  color:#333!important;
		  background:none!important;
		  opacity: 1 !important;
		}
	  
		> span{
		  &.labelauty-unchecked, &.labelauty-checked{
		    .valign-top;
		    margin:20px 0 0 10px !important;
		  }
		  &[class*="checked-image"] {
		   	width:36px;
		    height:50px;
		  }		  
		  &.labelauty-unchecked-image{
		    background-image: url(../images/icons/file_types/xls.png );
		   opacity: .2;
		  }
		  
		  &.labelauty-checked-image{
			background-image: url(../images/icons/file_types/xls.png);
		  }
		  &:hover{
			  color:#333!important;
			  opacity: 1 !important;
			}
		}
	  }
		&[for="report_type_pdf"]{
		   color:#888;
		   background:none;
		   
			&:hover{
			  color:#333!important;
			  background:none!important;
			  opacity: 1 !important;
			}
		  
			> span{
			  &.labelauty-unchecked, &.labelauty-checked{
			    .valign-top;
			    margin:20px 0 0 10px !important;
			  }
			  &[class*="checked-image"] {
		   		width:36px;
		    	height:50px;
		  	  }
			  &.labelauty-unchecked-image{
			    background-image: url(../images/icons/file_types/pdf.png );
			    opacity: .2;
			  }
			  
			  &.labelauty-checked-image{
				background-image: url(../images/icons/file_types/pdf.png);

			  } 
			  
			  &:hover{
			    color:#333!important;
			    opacity: 1 !important;
			}
			}
		  }
	}
	 
	&:checked{
	  + label{
	    
		&[for^="skin_"]{
		  color: #fff!important;
	    }
		&[for^="login_via_"]{
		  background:#D96452!important;
		}
		&[for="layout_collapsed"], 
		&[for="layout_expanded"],
	    &[for="header_default"], 
	    &[for="header_inverse"],
		&[for="user_gender_male"],
		&[for="user_gender_female"],
		&[for="profile_gender_male"], 
		&[for="profile_gender_female"],
		&[for="user_send_email"],
		&[for="user_cancel_email"],
		&[for="report_type_excel"],/* REPORT TYPE Added by Ruel*/
		&[for="report_type_pdf"]{
		  background:none!important;
		  color:#333!important;
		}
	  }
	}
  }  

/*--------------------------------------------------------------
  BUTTONS
--------------------------------------------------------------*/
.btn-success, .btn-primary{
  background:#3FBB68!important;
}
.btn-secondary{
	background:#1b9aaa!important;
}

.btn{
  [class^="flaticon-"]::before, 
  [class*=" flaticon-"]::before, 
  [class^="flaticon-"]::after, 
  [class*=" flaticon-"]::after{
    font-size:18px;
	margin:0 5px 0 0;
  }
}

  /*------------------------------------
    BUTTON ACTION
  -------------------------------------*/ 
  .btn-action{
    &.round{
	  .action-item{
		border-radius:20px;
		padding:10px 25px;
		text-align:center;
		background:#555;
		color:#fff;
		line-height:18px;
		.font-semibold;
		
		[class^="flaticon-"]::before, 
		[class*=" flaticon-"]::before, 
		[class^="flaticon-"]::after, 
		[class*=" flaticon-"]::after{
		  font-size:18px;
		  margin:0 7px 0 0;
		}
	  }
	}
  }
  /*------------------------------------
    BUTTON GROUP
  -------------------------------------*/ 
  .btn-group{
	position:relative;
	font-size:0;
	.inline;
	
    button, input[type="button"]{
      padding:7px 15px;
	  line-height:36px;
      margin:0;
      .inline;
      background:#f2f2f2;
      font-size:13px;
      color:#555;
      border:1px solid #f3f3f3;
      border-left:1px solid #ebebeb;
      
	  &.no-bg{
	    background:none;
	  }
	  
      &:first-of-type{
		border-top-left-radius: 2px!important;
		border-bottom-left-radius: 2px!important;
		
		&:not(.no-bg){
          border-left:none;
		}
      }
      
      &:last-of-type{
		border-top-right-radius: 2px!important;
		border-bottom-right-radius: 2px!important;
      }
      
      [class^="flaticon-"]::before, 
	  [class*=" flaticon-"]::before, 
	  [class^="flaticon-"]::after, 
	  [class*=" flaticon-"]::after{
	    margin: 0 10px 0 0;
	    font-size:15px;
	  }
    }
  }
  /*------------------------------------
    BUTTON FLOATING
  -------------------------------------*/ 
  .btn.btn-floating{
  	[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
	[class^="flaticon-"]:after, [class*=" flaticon-"]:after{
	  margin: 0;
	  font-size: 19px;
	}
    
    &.btn-large{
      [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
	  [class^="flaticon-"]:after, [class*=" flaticon-"]:after{
	    font-size: 22px;
	  }
    }
  }

/*--------------------------------------------------------------
  DROPDOWN LIST BUTTON
--------------------------------------------------------------*/
  
  /*------------------------------------
    TOP BAR NOTIFICATION DROPDOWN
  -------------------------------------*/ 
  .top-bar-notif{
    height:80px;
    line-height:45px;
    margin:-20px 0 0;
    font-size: 0;
	.inline;
    
	> li{
      .inline;
      padding:0;
	  border-left:1px solid #E4E9E9;

	  &:last-of-type{
	    border-right:1px solid #E4E9E9;
	  }
	
      > .dropdown-button{
	    color:#B8BEC7!important;
	    position:relative;
	    height:80px;
	    width:70px;
	    .block;
	    text-align:center;
		padding:20px 15px;
	  
	    [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
	    [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  	      font-size:19px;
		  margin:0;
	    }
	  
	    .notif-count{
	      right:10px;
		  top:20px;
	    }
      }
    }
  }

  /*------------------------------------
    ACCOUNT DROPDOWN
  -------------------------------------*/ 
  .dropdown-button{
    &.top-bar-account{
      position:relative;
	  height:40px;
	  .block;
	
      img{
        width:40px;
        height:40px;
	    border-radius:50em;
	  
	    + .notif-count{
	      right:-3px;
	    }
      }
    }
  }
  
  /*------------------------------------
    OPTIONS DROPDOWN
  -------------------------------------*/ 
  .dropdown-button{
    &.options{
	  background:none;
	  border:none;
	  float:right;
	  color:#777;
	  
	  [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
	  [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	    font-size:17px;
		margin:0;
	  }
		
	  &:hover{
	    color:#555;
	  }
	  
	  + .dropdown-content{
        top:0;
	    box-shadow:0 1px 10px rgba(0,0,0,0.15)!important;
	  
  	    .collection{
	      margin:0;
		  border:none;
		
		  &.options{
		    .collection-item{
			  .p-n;
			  border:none;
			
			  &:hover{
			    background:#f7f7f7;
			  }
		  
		      .collection-link{
		        font-size:14px;
			    .block;
  			    padding:15px;
			    color:#333;
			    .font-semibold;
				
				[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
				[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
				  margin:0;
				}
		      }
		    }
		  }
		}
	  }
	}
  }
  
  /*------------------------------------
    DROPDOWN CONTENT
  -------------------------------------*/ 
  .dropdown-content{
    white-space:unset!important;
  }
  .btn-group{
    .dropdown-content{
      top:0;
	  box-shadow:0 1px 10px rgba(0,0,0,0.15)!important;
	  
	  .collection{
	    margin:0;
		border:none;
		
		&.actions{
		  .collection-item{
		    .p-n;
			border:none;
			
			&:hover{
			  background:#f7f7f7;
			}
		  
		    .collection-link{
		      font-size:14px;
			  .block;
  			  padding:20px 20px 20px 60px;
			  color:#333;
			  .font-semibold;
			  
			  &.pdf{
			    background:url(../images/pdf.png) no-repeat 20px center;
			  }
			  &.xlsx{
			    background:url(../images/xlsx.png) no-repeat 20px center;
			  }
			  &.docx{
			    background:url(../images/docx.png) no-repeat 20px center;
			  }
			
			  &.pdf, &.xlsx, &.docx{
			    background-size:30px 30px;
			  }
		    }
		  }
		}
		
	  }
    }
    
	+ .input-field{
	  .m-n;
	  .valign-top;
	  
	  > .btn{
	    padding:7px 15px;
		height:auto;
	  }
	} 
  }
  
  .for-select-wrapper{
	> span.caret{
	  top:0;
	  right:10px;
	}
	> input.select-dropdown{
	  height:auto;
	  line-height:38px;
	  padding:0 10px;
	  background:rgba(0,0,0,0.2);
	  border:none;
	  border-radius:1px;
	  box-sizing:border-box;
	}
  }

  nav{
    .select-wrapper{
      .for-select-wrapper;

      .caret{
        top: -11 !important;
      }
    }
  }
  
  header{
    .dropdown-content:not(.select-dropdown){
	  top:80px!important;
	  background:#373F52!important;
	  color:#fff;
	  width:400px;
	  text-align:left;
	  padding:25px;
	  
	  .select-wrapper{
		.for-select-wrapper;
	  }
	  > .account-details{
	    border-bottom:2px solid #313848;
	    margin-left:0!important;
	    margin-right:0!important;
	    .p-b-lg;
		
	    > .account-name{
		  .p-l-n;
		
		  > a{
		    font-size:17px;
		    .font-normal;
		    color:#fff;
		    margin:0 0 10px;
			.block;
		  }
		  > small{
 		    font-size:11px;
		    .text-uppercase;
		    .font-thin;
		  }
	    }
	  
	    > .account-action{
		  .p-r-n;
		  > a{
		    color:#fff;
		    .text-uppercase;
		    font-size:12px;
			
		    [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
		    [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
 			  font-size:14px;
			  margin-right:5px;
		    }
		  }
	    }
	  }
	  
	  > .dropdown-title,
	  > div .dropdown-title{
  	    font-size:13px;
	    .font-semibold;
	    color:#fff;
		
	    span.badge{
		  position: unset;
		  .m-l-sm;
		  background:#F5614F;
		  padding:3px 5px;
	    }
	  }
	  
	  .collection{
	    border:none;
	    border-radius:0;
	    margin:0 -25px;
		
	    .jspVerticalBar{
		  background:none;
		  border-radius:20px;
		  width:12px;
	  
		  .jspTrack{
 		    border-radius:20px;
		    background:rgba(0,0,0,0.1)!important;
			
		    .jspDrag{
			  border-radius:20px;
			  background:rgba(0,0,0,0.2)!important;
		    }
		  }
	    }
	  
	    li.collection-item{
		  background:none;
		  cursor:auto;
		  border-top:1px solid rgba(255,255,255,0.05);
		  border-bottom:1px solid rgba(0,0,0,0.1);
		  padding:25px;
		
		  &:hover, &.active{
		    background: rgba(255,255,255,0.03);
		  }
		
		  &.avatar{
		    padding:15px 25px 15px 82px;
		  }
		
		  &:first-of-type{
		    border-top:none;
		  }
		  &:last-of-type{
		    border-bottom:none;
		  }
		
		  > .collection-link{
		    color:#fff!important;
		    font-size:14px;
		    .block;
		    .p-n;
		    .font-normal;
		  
		    [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
		    [class^="flaticon-"]:after, [class*=" flaticon-"]:after,
			i{
			  color:#fff!important;
			  font-size:20px;
		    }
		  }
		
		  > .circle{
		    left:25px;
		    background: rgba(0,0,0,0.15)!important;
		    color: rgba(255,255,255,0.4);
			
		    &[class^="flaticon-"]:before, &[class*=" flaticon-"]:before,
		    &[class^="flaticon-"]:after, &[class*=" flaticon-"]:after {
			  font-size:16px;
		    }
		  }
		
		  .title{
		    padding:0;
		    color:#fff;
		    font-size:14px;
		    font-weight:500;
		  
		    &.mute{
			  color:#bbb!important;
		    }
		  }
		
		  p{
		    font-size:13px;
		    
			&.mute{
			  color:#5e6578!important;
		    }	
		    &.timestamp{
			  color:#6a7389;
			  font-size:13px;
			  .m-b-sm;
		    }
		    &.truncate{
			  width:240px;
		    }
		  }
 		
		  &.active{
		    p.mute{
			  color:#c0c7d7!important;
			  .font-semibold;
		    }
		  }
		
		  .btn-circle{
		    background:rgba(255,255,255,0.09);
		    border-radius:50em;
		    width:35px;
		    height:35px;
		    line-height:35px;
		    .inline;
		    text-align:center;
		    .m-t-xs;
		  
		    [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
		    [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
			  font-size:13px;
			  margin:0;
		    }
		  
		    &:hover{
			  background:rgba(255,255,255,0.15);
		    }
		  }
	    }
	  }
    }
  }
  
/*--------------------------------------------------------------
  FORM ICONS
--------------------------------------------------------------*/
.datepicker, .datetimepicker, .timepicker, .date, 
#datepicker_start, #datepicker_end{
  padding-right:40px!important;
  box-sizing: border-box!important;
}

.datepicker, .date, #datepicker_start, #datepicker_end{
  background: url(../images/calendar.png) no-repeat 95% center;
}
.datetimepicker{
  background: url(../images/calendar_time.png) no-repeat 95% center;
}
.timepicker{
  background: url(../images/time.png) no-repeat 95% center;
}

.form-float-label{
  .datepicker, .date, .datetimepicker, timepicker,
  #datepicker_start, #datepicker_end{
    background-position:right center;
	padding-right:25px!important;
  }
}

/*--------------------------------------------------------------
  NOTIFICATION BOX
--------------------------------------------------------------*/
.notification{
  &.info, &.success, &.error, &.warning, &.tip, &.secure, &.message, &.downloads, &.print{
	margin:0 0 10px; 
	padding:10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 2px;
	width:100%;
	background-position:20px center!important;
  }

  &.info h4, &.success h4, &.error h4, &.warning h4, &.tip h4, &.secure h4, &.message h4, &.downloads h4, &.print h4{ 
    margin:5px 5px 5px 65px; 
    padding:0; 
    font-size:15px; 
    color:#333;
    font-weight:400;
  }
  &.info p, &.success p, &.error p, &.warning p, &.tip p, &.secure p, &.message p, &.downloads p, &.print p { 
    font-size:13px; 
    color:#555; 
    margin:5px 5px 5px 65px!important; 
  }

  /*------------------------------------
	BOXES
  -------------------------------------*/
	&.info{
	  border:1px solid #8ecbe3;
	  color:#0e7fad;
	  background:#c8e6f2 url(../images/icons/notification/info.png) no-repeat; 
	  background-position:20px 20px;
	}
	&.success{
	  border:1px solid #cae6c6;
	  color:#4f8746;
	  background:#ddf2d9 url(../images/icons/notification/success.png) no-repeat; 
	  background-position:20px 20px;
	}
	&.error{
	  border:1px solid #eec0c2;
	  color:#641f1a;
	  background:#fdd8da url(../images/icons/notification/error.png) no-repeat; 
	  background-position:20px 20px;
	}
	&.warning{
	  border:1px solid #9d9c49;
	  color:#9d9c49;
	  background:#fdfdcb url(../images/icons/notification/warning.png) no-repeat; 
	  background-position:20px 20px;
	}
	&.tip{
	  border:1px solid #c77d10;
	  color:#c77d10;
	  background:#f9d69e url(../images/icons/notification/tip.png) no-repeat; 
	  background-position:20px 20px;
	}
	&.secure{
	  border:1px solid #9638f1;
	  color:#9638f1;
	  background:#e5cefc url(../images/icons/notification/secure.png) no-repeat; 
	  background-position:20px 20px;
	}
	&.message{
	  border:1px solid #000;
	  color:#000;
	  background:#efefef url(../images/icons/notification/message.png) no-repeat; 
	  background-position:20px 20px;
	}
	&.downloads{
	  border:1px solid #04b5eb;
	  color:#04b5eb;
	  background:#f7f7f7 url(../images/icons/notification/download.png) no-repeat; 
	  background-position:20px 20px;
	}
	&.print{
	  border:1px solid #3c4b5e;
	  color:#3c4b5e;
	  background:#c8d9e3 url(../images/icons/notification/print.png) no-repeat; 
	  background-position:20px 20px;
	}
}


/*--------------------------------------------------------------
  FORM LAYOUT
--------------------------------------------------------------*/

/* FLOAT LABEL FORM */
input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="time"], input[type="date"], input[type="datetime-local"], input[type="tel"], input[type="number"], input[type="search"], textarea.materialize-textarea,
input[type="text"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="date"]:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="search"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
  &.loading, &.success-loading, &.error-loading{
	background-repeat:no-repeat;
	background-position:right center;
  }
  &.success-loading, &.error-loading{
	background-size:20px auto;
  }
  &.loading{
    background-image:url(../images/ajax-loader-bar-black.gif);
	background-size:15px auto;
  }
  &.success-loading{
    background-image:url(../images/checkmark.png);
  }
  &.error-loading{
    background-image:url(../images/crossmark.png);
  }
}

.form-float-label{
  .form-header{
    font-size:16px;
	.font-normal;
	margin:20px 10px 15px;
	
	small{
	  .font-thin;
	}
	
	+ .row{
	  &:first-of-type{
	    border-top:1px solid #d5d5d5!important; 
	  }
	}
  }
  
  > .row{
    border:1px solid #d5d5d5;
	border-right:none;
	border-bottom:none;
	background:#FCFCFC;
	margin-bottom:0;
	margin-left:0!important;
	.table-display;
	
	&:last-of-type{
	  border-bottom:1px solid #d5d5d5;  
	  margin-bottom:30px;
	}
	&:first-of-type{
	  border-top:none; 
	}
	
	> .col{
      border-right:1px solid #d5d5d5;
	  padding-top:5px;
	  float:none;
	  vertical-align:top;
	  .table-cell;
	  
	  &.disabled{
	    background:#f2f2f2;
	  }
	  
	  > .input-field{

	    input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="time"], input[type="date"], input[type="datetime-local"], input[type="tel"], input[type="number"], input[type="search"], textarea.materialize-textarea,
	    input[type="text"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="date"]:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="search"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
		  border:none!important;
		  box-shadow:none!important;
		  margin-bottom:0;
		  color:#444;
		}
		
	    > label{
		  left: 0;
		  font-size:15px;
		  
		  &.active{
		    font-size:14px;
		  }
		}
		
		.selectize-control{
		  &.single, &.multi{
		    .selectize-input{
		      background:none;
			  border:none;
			  box-shadow:none;
			  padding:16px 0 11px;
			  font-size:15px;
			  .font-thin;
			  color:#444;
			  
			  > *:not(.item){
			    margin-right:30px;
			  }
		    }
		  }
		  &.multi{
		    
		  }
		}
		
		.parsley-error{
		   + .selectize{
		    .selectize-input{
			  border:none!important;
			}
		  }
		}
		
		+ .parsley-errors-list, .parsley-errors-list{
		  color:#e53935;
		  .font-normal;
		  margin:0 0 8px 0;
		}
	  }
	}
  }
}
/* END FLOAT LABEL FORM */

/* BASIC FORM */
.form-basic{
  input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="time"], input[type="date"], input[type="datetime-local"], input[type="tel"], input[type="number"], input[type="search"], textarea.materialize-textarea{
    border:1px solid #eee;
	padding:10px;
	box-sizing: border-box;
	border-radius:2px;
	height:45px;
	
	&:disabled{
	  background: #f3f3f3;
	  border:1px solid #eee!important;
	}
  }
  .label{
    font-size: 0.8rem;
    color: #9e9e9e;
    font-weight: normal;
  }
  textarea.materialize-textarea{
	padding:10px;
	height:auto!important;
  }
  .input-field{
    label{
      top:15px;
    }
  }
  
  .selectize-input{
    background:none!important;
	border:1px solid #eee!important;
	border-radius:2px!important;
	padding:10px 35px 10px 10px!important;
	box-shadow:none!important;
	min-height:45px;
	
	input[type="text"]{
	  font-size:15px;
	  height:auto!important;
	  line-height:24px!important;
	}
  }
  
  input{
    &.labelauty{
	  + label{
		.inline;
		padding:13px;
	  }
	}
  }
  
  .form-header{
	font-size:17px;
  }
  
  .row{
    > .col{
	  .input-field{
		label{
		  &.active{
			transform: translateY(-280%);
			left:0;
		  }
		}
		
		.selectize-control{
		  &.single, &.multi{
		    .selectize-input{
		      background:none;
			  border:1px solid #eee;
			  box-shadow:none;
			  padding:10px;
			  font-size:15px;
			  border-radius:2px;
		    }
		  }
		}
	  }	
	}
  }
}
/* END BASIC FORM */

/*--------------------------------------------------------------
  IMAGE HOLDER
--------------------------------------------------------------*/
.landscape, .portrait{
  width:auto; 
  height:125px; 
  overflow:hidden;
  margin:-125px -10px 0;
  
  img{
    background:url(../images/transparent_bg.png);
  }
}
.landscape{
  img{ 
    width:auto; 
	min-width:115%;
	height:150px;
	margin: 0 -10px;
  }
}
.portrait{
  text-align:center;
  img{ 
    height:auto; 
    min-height:115%; 
	width:100%;
	margin: -10% 0;
  }
}


/*--------------------------------------------------------------
  TABLE LAYOUT
--------------------------------------------------------------*/
.pre-datatable{
	margin-bottom: -78px;
	height: 70px;
	background: white;
}
.table-default, .table-advanced{
  th, td{
    border-radius:0;
  }
  tbody{
    tr{
	  td{
		input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="time"], input[type="date"], input[type="datetime-local"], input[type="tel"], input[type="number"], input[type="search"], textarea.materialize-textarea{
		  .m-n;
		  height:30px;
		  font-size:inherit;
		}
		
		&.table-actions, .table-actions{
		  text-align:center;
		  
		  a{
		    &.save, &.edit, &.delete, &.view, &.activity{
			  margin-right:12px;
		    }
		    &.save::before{
		      content:url(../images/save.png);
		    }
		    &.edit::before{
		      content:url(../images/edit.png);
		    }
		    &.delete::before{
		      content:url(../images/trash.png);
		    }
		    &.view::before{
		      content:url(../images/search.png);
		    }
		    &.activity::before{
		      content:url(../images/calendar-icons.png);
		    }
		  
		    &:last-of-type{
		      margin-right:0;
		    }
		  }
		}
	  }
	}
  }
}
.table-form{
  width:100%;
  background: #fff;
  
  thead{
	border:none;
    tr{
      th{
        border-collapse:collapsed;
        border-radius:0;
	    .valign-middle;
		text-align:center;
		.p-md;
		
		&.sub-header{
		  background:#566269;
		}
      }
    }
  }
  
  tbody{
    tr{
	  td{
	    padding:10px 20px;
		
		&.table-actions{
		  text-align:center;
		  
		  a{
		    &.save, &.edit, &.delete{
			  margin-right:12px;
		    }
		    &.save::before{
		      content:url(../images/save.png);
		    }
		    &.edit::before{
		      content:url(../images/edit.png);
		    }
		    &.delete::before{
		      content:url(../images/trash.png);
		    }
		  
		    &:last-of-type{
		      margin-right:0;
		    }
		  }
		}
	  }
	}
  }
}

.table-default{
  border-collapse:collapse;
  background:#fff;
  table-layout:fixed;
  > thead{
    border-bottom:1px solid #E3E8ED;
    tr{
	  th{
		padding:15px 20px;
		.text-uppercase;
		color:#A4ADB4;
		font-size:12px;
		table-layout:fixed;
	  }
	  &.table-header{
	    th{
		  .font-thin;
		  color:#333;
		  .valign-middle;
		  .p-b-lg;
		  
		  &.title{
	        font-size:18px;
		    .text-transform-none;
		    .font-normal;
			padding-bottom:25px;
			
			span{
			  margin-top:3px;
			  font-size:13px;
			  .font-thin;
			  .block;
			}
		  }
		  
		  input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="time"], input[type="date"], input[type="datetime-local"], input[type="tel"], input[type="number"], input[type="search"], textarea.materialize-textarea{
		    font-size:14px;
		  }
		}
	  }
	}
  }
  
  tbody{
    tr{
	  &:nth-child(odd){
		background:#F6FBFC;
	  }
	  td{
	    .valign-top;
		padding:15px;
		word-wrap:break-word;
		table-layout:fixed;
		
		img{
		  &.avatar{
		    border-radius: 50em;
			display: inline-block !important;
			height: 35px;
			margin-right: 10px;
			vertical-align: middle!important;
			width: 35px;
		  }
		}
	  }
	}
	
	  input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="time"], input[type="date"], input[type="datetime-local"], input[type="tel"], input[type="number"], input[type="search"], textarea.materialize-textarea,.selectize-input{
		background: #fff;
		height:45px!important;
	  }
	  .selectize{
		background: #fff;
	  }
  }
  
  + .jspScrollable{
    .jspContainer{
	  .jspPane{
	    width:100%!important;
	  }
	  .jspVerticalBar{
		width:13px;
		background:none;
		
		.jspTrack{
		  background:rgba(0,0,0,0.15);
		  
		  .jspDrag{
		    background:rgba(0,0,0,0.2);
		  }
		}
	  }
	}
  }
  
  &#user_table{
    tbody{
	  tr{
	    td{
		  .valign-middle;
		}
	  }
	}
  }
  
  &.table-select{
  
	  .selectize-input{
		height:auto!important;
		
	    input[type="text"]{
		  height:auto!important;
		}
	  }
  
  }
}

.table-advanced{
  border-collapse:collapse;
  .valign-middle;
  
  thead{
    border-bottom:1px solid #E3E8ED;
    tr{
	  &.row-header{
	    th{
		  font-size:20px;
		  .font-normal;
		  .text-transform-none;
		  padding:0 10px 25px 30px!important;
		  position:relative;
		  
		  [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
		  [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
		    margin:4px 8px 0 0;
			font-size:17px;
			position:absolute;
			left:0;
			top:0;
		  }
		  
		  span{
		    font-size:14px;
			.font-thin;
			.block;
			.m-t-xs;
		  }
		}
	  }
	  &.row-subheader{
		background:#eee;
	  }
	  th{
		padding:15px 20px;
		.text-uppercase;
		font-size:12px;
		text-shadow:none!important;
		color:#555!important;
		
	    &.col-group-header{
		  background:#F2EEEF;
		  font-size:14px;
		  .font-bold;
		  color:#fff!important;
		}
	    &.col-subheader{
	      background:rgba(0,0,0,0.08);
	    }
	  }
	}
  }
  
  tbody{
    box-shadow:0 5px 8px -3px rgba(0, 0, 0, 0.15);
    tr{
      background:#fff!important;
	  &.col-red{
	    background:#F8E9EB!important;
	  }
	  &:nth-child(even){
		background:#F6FBFC!important;
	  }
	  th,td{
	    &.row-group-header{
		  background:#E8F3F4;
		  padding:15px;
		  .text-uppercase;
		  .font-bold;
		}
	    &.row-group-subheader{
		  background:#F1FBFC;
		  padding:10px;
		  .font-bold;
		}
	  }
	  td{
	    .valign-top;
		padding:15px;
		font-size:13px;
		
	    &.col-subheader{
	      background:rgba(0,0,0,0.02);
		  border-right:1px solid #fff;
	    }
		
		&.col-red{
		  background:#F8E9EB;
		}
      }
    }
  }
}
.dataTables_scrollBody{
  .box-shadow;
}

.dataTables_scrollBody, .DTFC_LeftBodyLiner{
  .table-advanced{
    tbody{
	  box-shadow:none;
	}
  }
}

.table-forum{
  thead{
    .none;
  }
  
  tbody{
    tr{
	  background:none!important;
	  
	  &.highlight{
	    background:#F4F5F7!important;
		
		td{
		  .forum-title,
		  .forum-comment-ctr{
		    color: #222;
		  }
		}
	  }
	  
	  td{
		&:nth-child(1){
		  background:rgba(0,0,0,0.02);
		}
	    padding:30px;
	    .valign-top;
	    border-bottom:1px dashed #ddd!important;
		
	    .forum-title,
	    .forum-comment-ctr{
		  color: #666;
		}
	    .forum-title{
		  font-size:16px;
		  .font-semibold;
		  .m-b-sm;
		  .block;
		}
	    .forum-author{
		  font-size:12px;
		  color:#777;
		  
		  > a{
		    font-size:12px;
			.font-semibold;
		  }
		}
	    .forum-teaser{
		  .mute;
		}
		.forum-tags{
		  li{
		    .inline;
			padding:5px 8px;
			border-radius:2px;
		  }
		}
		.forum-comment-ctr{
		  font-size:22px;
		  .font-semibold;
		}
		.forum-comment-teaser{
		  .font-semibold;
		  font-size:13px;
		}
		small{
		  .mute;
		}
		img{
		  &.avatar{
		    border-radius: 50em;
			display: inline-block !important;
			height: 50px;
			margin-right: 10px;
			vertical-align: middle!important;
			width: 50px;
		  }
		}
	  }
	}
  }
}

/* For special icons in/outside datatable */
.table-actions{
  a{
    margin-right: 12px;
    
	i:before{
	  color: #555;
	  font-size: 18px;
	  margin: 0px;
	}
  }
}

/*--------------------------------------------------------------
  LIST LAYOUT
--------------------------------------------------------------*/
.list-basic{
  .list-header{
    padding:10px 20px;
    h5{
	  font-size:13px;
	  .font-semibold;
	  line-height: 22px;
	  position:relative;
	  padding-left:25px;
	  .text-uppercase;
	  
	  [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
	  [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	    font-size:14px;
		margin:0;
	    position:absolute;
		left:0;
	  }
	}
  }
  
  > ul{
    li{
	  padding:15px 20px;
	  
	  &:nth-child(odd){
	    background:rgba(255,255,255,0.05);
	  }
	  
	  [type="checkbox"]{
	    + label{
		  height:auto;
		  line-height:22px;
		  font-size:13px;
		  .font-thin;
		}
	  }
	}
  }
}

.list-grid{
  > .list-item{
    width:25%;
	display:inline-block;
	.p-r-lg;
	.valign-top;
	position:relative;
	
	.list-counter{
	  position:absolute;
	  top:15px;
	  right:-12px;
	  line-height:30px;
	  height:30px;
	  background:#FD51A5;
	  color:#fff;
	  font-size:12px;
	  border-radius:20px;
	  padding:0 10px;
	  text-align:center;
	  .box-shadow;
	  .font-semibold;
	}
	.list-details{
	  padding:10px 0;
	  background:#fff;
	  
	  .dropdown-content{
	    width:220px!important;
	    a{
	      font-size:14px;
		  padding:10px 15px;
		  color: #333;
		  
		  i{
		    font-size:17px;
			margin-right:8px;
			color:#888;
		  }
		  
		  &:hover{
		    i{
			  color:#333;
			}
		  }
	    }
	  }
	  .dropdown-button{
		color:#bbb;
		&:hover{
		  color:#555;
		}
	  }
	}
  }
}
.list-view{
  
  > .list-item{
    width:100%;
	.m-b-md;
	.p-t-md;
	.p-l-md;
	.p-r-md;
	.p-b-n;
	.valign-top;
	position:relative;
	.bg-white;
	.box-shadow;
	
	.list-counter{
	  position:absolute;
	  bottom:10px;
	  right:-17.5px;
	  line-height:35px;
	  height:35px;
	  width:35px;
	  background:#555;
	  color:#fff;
	  font-size:12px;
	  border-radius:20px;
	  text-align:center;
	  .box-shadow;
	  .font-semibold;
	}
	.list-image{
	  float:left;
	  width:120px;
	  >div{
	  	>i{
	  	  color:white;
	  	  font-size:55px; 
	  	  padding: 10px 0px 0px 17px;
	  	}
	  	>h5{
	  	  color:white;
	  	  padding-left: 37px; 
	  	  font-weight: 550;
	  	}
	  }
	}
	.list-details{
	  padding:10px 0 10px 160px;
	  
	  .dropdown-content{
	    width:220px!important;
	    a{
	      font-size:14px;
		  padding:10px 15px;
		  color: #333;
		  
		  i{
		    font-size:17px;
			margin-right:8px;
			color:#888;
		  }
		  
		  &:hover{
		    i{
			  color:#333;
			}
		  }
	    }
	  }
	  .dropdown-button{
		color:#bbb;
		&:hover{
		  color:#555;
		}
	  }
	  
	  [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
	  [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	    margin:0 5px 0 0;
		font-size:12px;
	  }
	}
  }
  
  &.file-type .csv, &.file-type .doc, &.file-type .docx, &.file-type .dot, &.file-type .gif, &.file-type .jpeg, &.file-type .jpg, &.file-type .pdf, &.file-type .png, &.file-type .ppt, &.file-type .pptx, &.file-type .rar, &.file-type .txt, &.file-type .xls, &.file-type .xlsx, &.file-type .zip{
    padding:90px 10px 0;
	background-position:center 15px;
	
	.landscape, .portrait{
	  height:90px;
	  margin:-90px -10px 0;
	}
  }
}

.list-actions{
  > ul{
    margin:0 0 10px!important;
	padding:0!important;
	.block;
	
	> li{
	  .table-display;
	  padding:10px 15px!important;
	  
	  &:nth-child(even){
	    background:#eee;
	  }
	  
	  .actions{
		a{
		  &.save, &.edit, &.delete, &.view{
		    margin-right:12px;
		  }
		  &.save::before{
 		    content:url(../images/save.png);
		  }
		  &.edit::before{
		    content:url(../images/edit.png);
		  }
		  &.delete::before{
		    content:url(../images/trash.png);
		  }
		  &.view::before{
		    content:url(../images/search.png);
		  }
	  
		  &:last-of-type{
		    margin-right:0;
		  }
		}
	  }
	}
  }
}

.list-action-buttons{
  &.circles{
    > li{
	  padding:0px;
	  border-radius:50%;
	  margin-right: 5px;
	  
	  > a{
	  	background-color: transparent;
	  }
    }
  }
   
  > li{
    .inline;
	background:#555;
	padding:10px;
	border-radius:2px;
	margin-right:7px;
	
	> a{
	  color: #fff!important;
	}
	
	&:hover{
	  background:#444;
	}
	
	.material-icons{
	  margin:0 5px 0 0;
	  font-size:18px;
	  .valign-middle;
	}
  }
}

.list-timeline{
  counter-reset: steps 0 examples 0;
  > li{
    border-left:2px solid #A5AAB7;
	padding:0 30px 15px 0;
	font-size:15px;
	.font-semibold;
	position:relative;
	color: #838893;
	
	&:last-of-type{
	  padding-bottom:0;
	}
	
	&:before {
	  margin-left:-15px!important;
	  margin-right:10px!important;
	  background:#C9CEDB;
	  counter-increment: steps 1;
	  content: counter(steps , decimal);
	  text-transform: uppercase;
	  font-weight: bold;
	  color: #A5AAB7;
	  border:2px solid #A5AAB7;
	  border-radius:50em;
	  width:30;
	  height:30px;
	  line-height:27px;
	  text-align:center;
	  .inline;
    }
	
	&.complete{
	  border-color: #7C818E;
	  color: #333;
	  
	  &:before{
	    border-color: #039be5;
	    color:#fff;
		background:#039be5;
	  }
	  
	  &:after{
	    content:"\2714";
		background:#4caf50;
		color:#fff;
		border-radius:50em;
		width:22px;
		height:22px;
		line-height:22px;
		.inline;
		text-align:center;
		position:absolute;
		top:3px;
		right:0;
	  }
	  
	  > ul{
	    > li{
		  color:#838893;
		}
		
		&.stage{
		  counter-reset: stage 0 examples 0;
		  
		  > li{
		    &:before{
		      counter-increment: stage 1;
		      content: "Stage " counter(stage , decimal) ": ";
		    }
		  }
		}
	  }
	}
	
	> ul{
	  margin:10px 0 0 35px;
	  
	  > li{
	    list-style-type: disc;
		font-size:13px;
		.font-normal;
		line-height:18px;
	  }
	}
  }
}

.list-legend{
  > li{
    padding-left:30px;
	position:relative;
	padding-bottom:10px;
	color:#B3B296;
	.font-semibold;
	
	p{
	  .font-thin;
	  font-size:14px;
	  color:#4A4A4A;
	}
    span{
	  position:absolute;
	  left:0;
	  top:5px;
	  .inline;
	  width:20px;
	  height:20px;
	  background: #eee;
	  border-radius:2px;
	}
  }
}

.list-report{
  > li{
    list-style-position:inside;
	background: rgba(255, 255, 255, 0.18); 
	font-size: 14px; 
	font-weight: 600 ! important; 
	text-transform: uppercase; 
	padding: 20px 40px 0;
	
	> ol{
	  margin:20px -40px;
	  
	  > li{
	    padding:20px 60px;
		font-size:14px;
		font-weight:400;
		text-transform: none; 
	  }
	}
  }
}

.list-comment{
  > li{
    .position-relative;
	padding:20px 30px 20px 100px;
	border-bottom:1px solid #eee;
	
	&:last-of-type{
	  border:none;
	}
	
	.comment-content{
	  .comment-author{
	    .font-bold;
		font-size:15px;
		
		> span{
		  font-size:13px;
		  .font-normal;
		  margin-left:8px;
		}
	  }
	  
	  .comment{
	    textarea{
		  border:2px solid #e5e5e5;
		  border-radius:2px;
		  padding:12px;
		  
		  &:focus{
		    border-bottom: 1px solid #26a69a;
		  }
		}
	  }
	}
	.comment-avatar{
	  .position-absolute;
	  width:100px;
	  left:0;
	  text-align:center;
	  
	  img{
	    width:64px;
	    height:64px;
		border-radius:50em;
	  }
	}
  }
}
/*--------------------------------------------------------------
  FILE LAYOUT
--------------------------------------------------------------*/
.file-type .pdf,
.file-type .xls,
.file-type .xlsx,
.file-type .txt,
.file-type .ppt,
.file-type .pptx,
.file-type .doc,
.file-type .docx,
.file-type .dot,
.file-type .zip,
.file-type .rar,
.file-type .csv,
.file-type .png,
.file-type .jpeg,
.file-type .jpg,
.file-type .gif {
  background-repeat: no-repeat;
  background-position: center 35px;
  background-size: auto 60px;
  background-color: #f9f9f9;
  min-height: 70px;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 1px;
  margin-bottom: 10px;
  line-height: 15px;
  padding: 125px 10px 0;
  position: relative;
}

.file-type .pdf {
  background-image: url(../images/icons/file_types/inverted/pdf.png);
  background-color:#DE5A5A;
}
.file-type .xls {
  background-image: url(../images/icons/file_types/inverted/xls.png);
  background-color: #51A44D;
}
.file-type .xlsx {
  background-image: url(../images/icons/file_types/inverted/xlsx.png);
  background-color:#51A44D;
}
.file-type .doc {
  background-image: url(../images/icons/file_types/inverted/doc.png);
  background-color: #3D79CB;
}
.file-type .docx {
  background-image: url(../images/icons/file_types/inverted/docx.png);
  background-color: #3D79CB;
}
.file-type .ppt {
  background-image: url(../images/icons/file_types/inverted/ppt.png);
  background-color: #E48D4E;
}
.file-type .pptx {
  background-image: url(../images/icons/file_types/inverted/pptx.png);
  background-color: #E48D4E;
}
.file-type .txt {
  background-image: url(../images/icons/file_types/inverted/txt.png);
  background-color: #33A4BC;
}
.file-type .dot {
  background-image: url(../images/icons/file_types/inverted/dot.png);
  background-color: #3D79CB;
}
.file-type .zip {
  background-image: url(../images/icons/file_types/inverted/zip.png);
  background-color: #F5CE54;
}
.file-type .rar {
  background-image: url(../images/icons/file_types/inverted/rar.png);
  background-color: #A85088;
}
.file-type .csv {
  background-image: url(../images/icons/file_types/inverted/csv.png);
  background-color: #51A44D;
}
.file-type .png {
  background-image: url(../images/icons/file_types/inverted/png.png);
  background-color: #B5428C;
}
.file-type .jpg,
.file-type .jpeg {
  background-image: url(../images/icons/file_types/inverted/jpg.png);
  background-color: #E04880;
}
.file-type .gif {
  background-image: url(../images/icons/file_types/inverted/gif.png);
  background-color: #51905B;
}

/*--------------------------------------------------------------
  TABS
--------------------------------------------------------------*/
.tabs-wrapper{
  margin:-1px -40px 0;
  padding:0 40px;
  background:#F8F9FA;

  &.row{
  	margin-left: -40px !important;
  	margin-right: -40px !important;
  	
  	.col{
  	  padding: 0;
  	}
  }
  
  .tabs{
    background:none;
	
	i:before{
	  font-size: 15px;
	  margin-right: 8px;
	  margin-left: 8px;
	}
	
	a{
	  .font-semibold;
	}
	
	.indicator{
      margin: 0 1px !important;
    }
  }
}
/*--------------------------------------------------------------
  MODAL
--------------------------------------------------------------*/
.md-modal{
  .md-header{
    font-size:25px;
	text-align:left;
	padding:20px;
  }
  .md-close.icon{
    position:absolute;
	top:23px;
	right:20px;
	z-index:1;
	cursor:pointer;
	font-size:15px;
	background:rgba(255,255,255,0.3);
	padding:5px 8px;
  }
  .md-content{
    p{
	  font-size:15px;
	}
  }
  .md-footer{
    &.default{
	  text-align:right;
	  /*border-top:2px solid #ECECED;*/
	  padding:20px;
	}
  }
}

  /*------------------------------------
	PROFILE
  -------------------------------------*/
	.profile-banner{
	  background: url(../images/banner_001.jpg) no-repeat;
	  background-size:auto 100%;
	  padding:30px 20px;
	
	  .profile-detail{
		h5{
		  font-size:23px;
		  color:#fff;
		  .font-thin;
		  margin:25px 0 0!important;
		}
		p{
		  font-size:13px;
		  .font-semibold;
		  .text-uppercase;
		  color:#fff;
		  padding:8px 0 10px;
		}
	  }
	}
	.profile-banner, .avatar-upload{
	  text-align:center;
	  
	  .avatar{
		.avatar-wrapper{
		  position:relative;
		  display:inline-block;
		  
		  > .ajax-file-upload{
			display:none;
		  }
		  
		  > .ajax-file-upload-statusbar{
			background:none!important;
			border:none;
			padding:0;
			margin:0;
			position:absolute;
			top:0;
			width:150px;
			height:150px;
			
			> .ajax-file-upload-filename{
			  display:none;
			}
			
			> .ajax-file-upload-progress{
			  background:rgba(0, 0, 0, 0.5);
			  width:150px;
			  height:150px;
			  line-height:150px;
			  border-radius:50em;
			  
			  &::before{
				content: url(../images/ajax-loader-bar-black.gif);
				padding-top:1px;
			  }
			  > .ajax-file-upload-bar{
				display:none;
			  }
			}
			
			> .ajax-file-upload-red{
			  position:absolute;
			  bottom:3px;
			  right:-25px;
			  background: none;
			  box-shadow:none!important;
			  text-shadow:unset;
			  
			  [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
			  [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
				font-size:15px;
			  }
			}
		  }
		  
		  &:hover{
			> .ajax-file-upload{
			  background:rgba(0, 0, 0, 0.4);
			  width:150px;
			  height:150px;
			  position:absolute!important;
			  left:0;
			  top:0;
			  display:block;
			  border-radius:50em;
			  line-height:160px;
			  padding:0;
			  font-size:14px;
			}
		  }
		  
		  img{
			width:150px;
			height:150px;
			border-radius:50em;
			border:10px solid rgba(255,255,255,0.15);
		  }
		}
	  }
	}
	
	.avatar-upload{
	  .ajax-file-upload-red{
	    [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
		[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
		  color: #555;
		}
	  }
	}
	
  /*------------------------------------
	REPLICATE AIP
  -------------------------------------*/
	.replicate{
	  background: url(../images/interface.png) no-repeat center 20px;
	  padding:150px 20px 20px;
	  
	  > div{
	    font-size:14px;
		.font-thin;
		width:80%;
		margin:0 auto!important;
	  }
	}
	
  /*------------------------------------
	ANIMATED MODAL (FULLSCREEN MODE)
  -------------------------------------*/
  .fullscreen-trigger{
    i{
	  font-size:19px;
	}
  }
  .animated-modal{
    .dataTables_wrapper{
	  box-shadow:none;
	  
	  .dataTable{
	    table-layout:fixed;
		width:100%!important;
		
		th{
		  font-size:10.5px!important;
		}
	    th, td{
		  padding:10px;
		}
		tbody{
		  box-shadow:none;
		  tr{
			> td{
			  border-bottom:1px dashed #ccc;
			  font-size:11px!important;
			  
			  input{
			    width:100%!important;
			  }
			}
		  }
		}
	  }
	}
    .animated-modal-close{
      width:30px;
      height:30px;
      line-height:25px;
	  border-radius:50em;
	  border:2px solid #555;
	  text-align:center;
	  cursor:pointer;
	  position:absolute;
	  right:20px;
	  z-index:1;
	
	  [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
	  [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	    font-size:14px;
	  }
    }
	
	.table-advanced{
	  table-layout:fixed;
	  width:100%!important;
	  
	  tbody{
		box-shadow:none;
		tr{
		  > td{
		    font-size:11px!important;
		    border-bottom:1px dashed #ccc;
			
			&.row-group-header{
			  border-bottom:none;
			}
			&.row-group-subheader{
			  border-bottom:2px solid #E8F3F4;
			}
		  
		    input{
			  width:100%!important;
		    }
		  }
		}
	  }
	  
	  th{
		font-size:10.5px!important;
	  }
	  th, td{
		padding:10px;
	  }
	}
  }
/*--------------------------------------------------------------
  ALERT MESSAGES
--------------------------------------------------------------*/
#toast-container{
  border-radius:3px;
  background-color:#515357;
  right:2%;
  
  .toast{
	&.error, &.success{
	  float:none;
	  background-size:50px auto!important;
	  padding-left:75px;
	  height:80px;
	  .font-semibold;
	  font-size:15px;
	  .m-t-n;
	}
	&.error{
	  background: url(../images/crossmark.png) no-repeat 15px center;
	  color:#ED6E39!important;
	}
	&.success{
	  background: url(../images/checkmark.png) no-repeat 15px center;
	}
  }
}
/*--------------------------------------------------------------
  TIMELINE
--------------------------------------------------------------*/
.timeline{
  padding-left: 20px;
  
  .section{
  	margin-left: 12px !important;
	padding-left: 22px !important;
	border-left: 2px solid #D8D9DB !important;
	padding-top: 0 !important;
	
	.section-title{
	  padding: 10px 5px 10px 10px;
	  margin: 1px 0 5px;
	  background-color: #E9EAEE;
	  margin-left: -55px;
	  position: relative;
	}
	
	.section-row{
	  position: relative;
	  border-bottom: 1px solid #e8ebef;
	  padding: 10px 0;
	  color: #999;
	  font-size: 13px;
	  height: 50px;
	  
	  .item-type{
	    display: inline-block;
		width: 26px;
		height: 26px;
		-webkit-box-shadow: 0 0 0 3px #fff;
		-moz-box-shadow: 0 0 0 3px #fff;
		box-shadow: 0 0 0 3px #fff;
		-webkit-border-radius: 50%;
		-webkit-background-clip: padding-box;
		-moz-border-radius: 50%;
		-moz-background-clip: padding;
		border-radius: 50%;
		background-clip: padding-box;
		position: absolute;
		left: -37px;
		padding-top: 5px;
		
		&.file{
		  background-color: #26c6da !important; /* .cyan.lighten-1 */
		}
		&.task{
		  background-color: #EF5350 !important; /* .red.lighten-1 */
		}
		
		i::before{
		  color: white;
		  font-size: 15px;
		  margin-left: 5px;
		  margin-bottom: -10px;
		}
	  }
	  
	  .rounded-avatar{
	    margin-right: 10px;
	    vertical-align: middle;
	  }
	  
	  .item-time{
	  	/*
	    position: absolute;
		right: 20px;
		top: 0;
		bottom: 0;
		margin: auto 0;
		height: 20px;
		line-height: 20px;
		*/
		
		margin-top: 5px;
		text-align: right;

		.today{
		  background-color: #fbc02d; /* .yellow.darken-2 */
	      color: #FFF;
	      padding: 5px 8px;
	      border-radius: 1px;
	      font-size: 12px;
		}
	  }
	}
  } 
}

/*--------------------------------------------------------------
  PANEL
--------------------------------------------------------------*/
.panel{
  background:#fff;
  border:none!important;
  
  &.collapsible{
    .collapsible-header{
	  border:none;
	  font-size:16px;
	  .font-bold;
    }
    .collapsible-body{
	  border:none!important;
	  padding:20px;
	  
	  .panel-footer{
	    margin:20px -20px -20px;
	  }
    }
  }
  
    .panel-image{
      padding:20px 20px 20px 80px;
	  position:relative;
      font-size:15px;
	  background:#fff;
	  
	  img, [class^="flaticon-"], [class*=" flaticon-"],
	  [class^="flaticon-"], [class*=" flaticon-"] {
	    position:absolute;
	    width:50px;
	    height:50px;
		border-radius:50em;
	    left:20px;
	  }
	  
	  [class^="flaticon-"], [class*=" flaticon-"],
	  [class^="flaticon-"], [class*=" flaticon-"] {
        background:#6CBD7D;
		text-align:center;
		color:#fff;
	  }
	  
	  [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
	  [class^="flaticon-"]:after, [class*=" flaticon-"]:after { 
	    line-height:50px;
	  }
	  
	  &.mute{
	    background:#f9f9f9;
		
	    [class^="flaticon-"], [class*=" flaticon-"],
	    [class^="flaticon-"], [class*=" flaticon-"] {
		  background:#e5e5e5;
		  color:#d5d5d5!important;
		}
	  }
	}
}

.panel-footer{
  padding:20px;
  background:#f8f8f8;
  
  a{
    color: #888!important;
	.font-semibold;
	
	&:hover{
      color: #555!important;
	}
  }
}

/*--------------------------------------------------------------
  SIDEBAR
--------------------------------------------------------------*/
#wrapper{
  
  &.has-sub-nav{
    /*padding-left:440px;*/
	
	#sub-nav{
	  margin:0;
	  
	  .sub-padder{
	    padding-top:80px;
	  }
	}
	
	> #content{
	  > main{
	    &.container{
		  padding-left:290px!important;
		}
	  }
	}
  }

  .side-nav{
    overflow:hidden;
	overflow-y: hidden;
	overflow-x: hidden;
	box-shadow:none;
	
	/* JSCROLL */
	.jspPane{
	  width:100%!important;
	}
	/* LOGO SECTION */
	.logo{
	  padding:8px 20px;
	  display:table;	 
	  width:100%;
	  height:80px;
	  
	  img{
	    max-height:50px;
	    max-width:50px;
	  }
	  img,span{
	    display:table-cell;	  
		vertical-align:middle;
	  }
	  
	  /* LOGO NAME */
	  span{
		padding-left:10px;
		font-size:17px;
		.font-bold;
		line-height:20px;
		
		small{
		  font-weight:400;
		  font-size:12px;
		  margin:2px 0 0 3px;
		  display:block;
		}
	  }
	}
	ul{
	  &.collapsible{
	    &.menu{
		  height:calc(95%);
		}
	  }
	}
	li{
	  padding:0;
	  position:relative;
	  
	  >.collapsible-header{
	    padding:0;
		margin:0;
        
		&[class^="flaticon-"]:before, &[class*=" flaticon-"]:before,
	    &[class^="flaticon-"]:after, &[class*=" flaticon-"]:after {   
	      font-size:10px;
	      margin: 0;
		  position:absolute;
		  right:15px;
		  top:0;
	    }
		i{
	      display:inline-block;
		  margin:0;
	    }
	    [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
	    [class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	      font-size:20px;
	      margin: 0;
	    }
	    i, a{
	      height:64px;
	      vertical-align:middle;
	    }
	    a{
	      padding:0 30px;
	    }
		span{
		  margin-left:20px;
		}
	  }
	  
	  >.collapsible-body{
	    padding-bottom:30px;
		
	    .menu-item{
		  margin:0 0 0 45px;
		  
		  > li{
			border: 1px solid rgba(255,255,255,0.05);
			border-width: 0 0 2px 2px;
			padding-left:15px;
			
		    > a{
			  font-size: 14px;
			  height: auto !important;
			  line-height: 20px;
			  margin: 0;
			  padding: 10px 15px 10px;
			  background: #26262B;
			  position: relative;
			  top: 15px;
			  padding:5px 10px;
			}
		  }
		}
	  }
	  &.menu-title-item{
	    background:none!important;
		line-height:40px;
		span{
		  padding:30px 30px 0px;
		  font-size:13px;
		  .text-uppercase;
		  .font-semibold;
		  color:rgba(255,255,255,0.1);
		}
	  }
    }
  }
  
  /* SLIDING NAVIGATION */
  &.slide-nav{
    padding-left:90px;
	
	.show-sub-nav{
	  display:none;
	}
	
	&.has-sub-nav{
      /*padding-left:290px;*/

	  .show-sub-nav{
	    display:block;
	  }
	}
	.logo{
	  .hide-display{
	    display:none;
	  }
	}
    .side-nav{
      width:90px!important;
      overflow:hidden;
	  .hide-display{
	    display:none;
	  }
	  
	  [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
	  [class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	    margin: 0;
	  }
	  
	  &:hover{
        width:240px!important;
		transition: 1s;
		
		.logo{
		  .show-on-hover{
			display:table-cell;
		  }
		}
		.jspContainer, .jspPane{
          width:240px!important;
		}
		.show-on-hover{
		    display:inline-block;
			margin-left:20px;
		}
	  }
	}
  }
}

.sidebar{
  &.list{
    .sidebar-title{
	  font-size:13px;
	  .text-uppercase;
	  color:#999;
	  .font-semibold;
	  border-bottom:2px solid #BFC3CC;
	  padding-bottom:10px;
	}
	.sidebar-subtitle{
	  .font-bold;
	  color:#333;
	  font-size:15px;
	  padding:15px 0 10px;
	  margin-top:15px;
	  
	  span{
	    font-size:13px;
	    color:#999!important;
	  }
	  
	  &:first-of-type{
	    margin-top:10px;
	  }
	}
	
	input[type="checkbox"]{
	  + label{
	    font-size:14px!important;
		color: #333;
	  }
	}
	
	.sidebar-btn{
	  height:30px;
	  line-height: 30px;
	  
	  i{
	    font-size:16px;
	    margin:0;
	  }
	}
	
  }
  
  &.list-checkbox{
    li{
	  position:relative;
	  padding-left:35px;
	  
	  .checkbox-wrapper{
	    position:absolute;
		left:0;
		
		+ a, + strike a{
		  font-size:14px!important;
		  color: #333!important;
		  line-height:20px;
		  
		  &:hover{
		    color: #111!important;
		  }
	    }
	  }
	  
	  &.empty-data{
	    text-shadow: 0 1px 1px #eee;
		text-align:center;
		.font-normal;
		font-size:14px;
		color:#757575;
		padding:20px 0;
	  }
	}
  }
}

/*--------------------------------------------------------------
  TOGGLE
--------------------------------------------------------------*/
.setting{
  position:absolute; 
  border-color:#aaa!important;
  z-index:2; 
  top:0;
  right:0;
  
  .setting-toggle{
	background:#373F52;
	.inline;
	.p-sm;
	bottom:-40px;
	position:absolute;
	right:0;
	width:300px; 
	
	i{
	  -webkit-animation: pace-spinner 4s linear infinite;
	  -moz-animation: pace-spinner 4s linear infinite;
	  -ms-animation: pace-spinner 4s linear infinite;
	  -o-animation: pace-spinner 4s linear infinite;
	  animation: pace-spinner 4s linear infinite;
	  color:rgba(255,255,255,0.8);
	  font-size:20px;
	  vertical-align:sub;
	  margin-right:5px;
	}
  }
	
  .setting-content{
	background:#373F52;
    display:none; 
	width:500px; 
	padding:15px;
	
	.jspPane{
	  .p-r-md;
	}
	
	h6{
	  font-size:18px;
	  .font-semibold;
	  color:#fff;
	}
	p{
	  color:rgba(255,255,255,0.7);
	}
	hr{
	  border-top:1px solid rgba(0, 0, 0, 0.1);
	  border-bottom:1px solid rgba(255, 255, 255, 0.05);
	}
  }
  
  &.right{
    right:0; 
    
	.setting-toggle{
	  margin-right:-1px;
	}
	.setting-content{
	  float:right; 
	  .p-l-lg;
	}
  }
  &.left{
    left:0; 
	
	.setting-toggle{
	  margin-left:-1px;
	}
	.setting-content{
	  float:left; 
	  .p-r-md;
	}
  }
}

/*--------------------------------------------------------------
  CODE
--------------------------------------------------------------*/

pre[class*="language-"]::before {
  background: #e8e6e3 none repeat scroll 0 0;
  border-color: rgba(51, 51, 51, 0.12);
  border-image: none;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  color: #555;
  content: attr(class);
  font-family: "Roboto",sans-serif;
  font-size: 0.9rem;
  left: 0;
  padding: 1px 5px;
  position: absolute;
  top: 0;
}

pre[class*="language-"] {
  border: 1px solid rgba(51, 51, 51, 0.12);
  padding: 25px 10px 10px;
  position:relative;
  margin: 0.5em 0;
  overflow: auto;
}

code[class*="language-"], pre[class*="language-"] {
  -hyphens: none;
  -moz-tab-size: 1;
  tab-size: 1;
  color: black;
  direction: ltr;
  font-family: "Inconsolata",Monaco,Consolas,"Andale Mono",monospace;
  line-height: 1.4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
}

:not(pre) > code[class*="language-"], pre[class*="language-"]{
  background: #f5f2f0;
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
    color: slategray;
}
.token.punctuation {
    color: #999;
}
.namespace {
    opacity: 0.7;
}
.token.property, .token.tag, .token.boolean, .token.number, .token.constant, .token.symbol, .token.deleted {
    color: #905;
}
.token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted {
    color: #690;
}
.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
    background: hsla(0, 0%, 100%, 0.5) none repeat scroll 0 0;
    color: #a67f59;
}
.token.atrule, .token.attr-value, .token.keyword {
    color: #07a;
}
.token.function {
    color: #dd4a68;
}
.token.regex, .token.important, .token.variable {
    color: #e90;
}
.token.important {
    font-weight: bold;
}
.token.entity {
    cursor: help;
}

/*--------------------------------------------------------------
  JSCROLL
--------------------------------------------------------------*/
.jspContainer{
  .jspPane{
    width:100%!important;
  }
  
  .jspVerticalBar{
    background:none;
    width:13px;
  
    .jspTrack{
      background:none;
  
      .jspDrag{
	    border-radius:20px;
      }
    }
  }
}

.jspScrollable{
  overflow:hidden!important;
}
.jspHorizontalBar{
  display:none;
}
.scroll-dark{
  .jspDrag{
	background: rgba(0,0,0,0.2);
  }
}
.scroll-light{
  .jspDrag{
	background: rgba(255,255,255,0.04);
  }
}
label{
  .help-tooltip{
    font-size:15px!important;
    margin-left:8px;
    color: #d5d5d5;
	cursor:help;
  }
  &.active{
    .help-tooltip{
      color:inherit;
    }
  }
}
/*--------------------------------------------------------------
  PAGE LOAD PROGRESS BAR
--------------------------------------------------------------*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position:fixed;
  height:100%;
  width:100%;
  background:rgba(0,0,0,0.3);
  z-index:99999;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 7px;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

/*--------------------------------------------------------------
  MOBILE VIEW
--------------------------------------------------------------*/
@media only screen and (max-width : 992px) {
  #wrapper, #wrapper.slide-nav{
    padding-left:0;
	
    &.has-sub-nav{
      padding-left:0/*200px*/!important;
	}
    .top-nav{
	  position:fixed;
	  top:30px;
	  left:0;
	  z-index:4;
	}
	
	#nav-mobile{
	  width:240px!important;
	  
	  .hide-display, .show-on-hover{
	    .block;
	  }
	}
	
	.setting{
	  position:absolute; 
	}
  }
  
  /*------------------------------------
	TYPOGRAPHY
  -------------------------------------*/
  .caption{
    font-size:13px;
  }
  
  /*------------------------------------
	MENUBAR LAYOUT (SITE SETTINGS)
  -------------------------------------*/
  input.labelauty{
    + label{
	  &[for="layout_collapsed"], &[for="layout_expanded"]{
		> span{
		  &.labelauty-unchecked-image, &.labelauty-checked-image{
		    width:230px!important;
		    height:130px!important;
		  }
		}
	  }
	}
  }
}
