.isloading-overlay:not(.isloading-wrapper){
	background: rgba(0, 0, 0, 0.7)!important;
	height: calc(100%);
}
.isloading-overlay .isloading-wrapper{
	position: absolute;
	top: calc(50% - 60px);
	width: 100%;
	display: block;
	text-align: center;
}
.loader {
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid #F0934E; /* Blue */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
