.table-default tbody .selectize-input, .table-default tbody input[type=text] {
	height: auto !important; 
}
.selectize-input > input {
	height: auto !important;
}
.table-default tbody .timepicker {
	background:url(../images/time.png) 95% center no-repeat !important;
	padding-right: 15px !important;
}
.table-default tbody .datepicker {
	background:url(../images/calendar.png) 95% center no-repeat !important;
}
.hidden {
	display: none;
}
.visible {
	display: block;
}

.new_entry {
	color:blue;
}

.deleted_entry {
	color:red;
}