.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v17/2fcrYFNaTjcS6g4U3t-Y5ewrjPiaoEww8AihgqWRJAo.woff) format('woff');
}


i.small{
  font-size:24px !important;
}
.no-padding{
  padding: 0 !important;
}
.no-margin{
  margin: 0 !important;
}
.no-border{
  border: none !important;
}
.hidden{
  display: none;
  width: 0;
  height: 0;
}

/*------------------------------------------|
|              all-materialize              |
|------------------------------------------*/

.input-field label .i{
  font-size: 12px;
  font-style: normal;
}


/*------------------------------------------|
|                asset_form                 |
|------------------------------------------*/

.asset_form .center{
    text-align: center;
}
.asset_form .img-pan{
 
}
.asset_form .img-pan .i{
  padding-right: 10px;
}
.asset_form .img-pan .i img{
  width: 100% !important;
  max-height: 120px;
}
.asset_form .img-pan .p{
  text-align: center;
   margin:5px 0;
}
.asset_form .img-pan .p .btn-rm,
.asset_form .img-pan .p .btn-bp{
  display: inline-block;
  color: white;
  padding: 4px 25px;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
}
.asset_form .img-pan .p .btn-rm{
  color: #444;
  background: #EEE;
  border: solid 1px #DDD;
}
.asset_form .img-pan .p .btn-bp{
  background: #004153;
}
.asset_form .vh{
  padding: 10px 0px !important;
  text-align: right;
}
.asset_form .vh .vh-link{
  margin-right: 10px;
  color: #004153;
  font-size: 12px;
  font-style: normal;
}

/*------------------------------------------|
|            ps-default-form                |
|------------------------------------------*/

.ps-default-form .rb-field{
  position: relative; 
  margin-right: 20px !important;
} 
.ps-default-form .rb-field .rb-field-btn{
  position: absolute;
  right: -25px;
  top:0;
}
.ps-default-form .head-genInfo{
  font-size: 22px;
  font-weight: bold;
}
.ps-default-form .head-genInfo{
  font-size: 22px;
  font-size: 22px;
  font-weight: bold;
}
.ps-default-form .info-pan{
  color: #999 !important;
}
.ps-default-form .info-pan a,
.ps-default-form .info-pan span{
  display: block;
  color: #444 !important;
}

/*------------------------------------------|
|             table-default                 |
|------------------------------------------*/

.table-default .material-icons{
  margin:0 4px;
}

/*------------------------------------------|
|                   cbtn                    |
|------------------------------------------*/

.ctbn-gray{
  background: #CCC !important;
  padding: 0 8px;
  line-height:22px;
  border: solid 1px #BBB;
  color: #444;
  height: 28px;
}
.i-fblue{
  background: #004153;
  color: white;
  border-radius: 2px;
  border: solid 1px #335964;
  padding: 2px;
}
.i-gray{
  color: #575757 !important;
}
.i-white{
  color: white !important;
}
.i-green{
  color: #004106 !important;
}
.iblue{
  color: #004153;
}

/*------------------------------------------|
|                btn-reform                 |
|------------------------------------------*/

.btn-re,
.btn-de{
  font-size: 12px !important;
  padding: 0 15px;
  line-height:2.3rem !important;
  height: 32px !important;
}
.btn-iconed{
  line-height: 23px !important;
}
.btn-iconed > i{
  position: relative;
  top: 4px;
}

/*------------------------------------------|
|           classification_table            |
|------------------------------------------*/

.classification_table{

}


/*------------------------------------------|
|                tbl-basic                  |
|------------------------------------------*/

.tbl-basic{}

.tbl-basic tr.lbue{
  background: #89addb;
}
.tbl-basic tr.lbue th{
  color: white !important;
}
.tbl-basic tbody td{
  font-size: 12px;
  text-indent: 5px;
}


/*------------------------------------------|
|            add-asset-btn-pan              |
|------------------------------------------*/

.add-asset-btn-pan{
  text-align: center;
  margin: 10px;
  padding: 25px 0px;
  background: #CCC;
}
.add-asset-btn-pan .i{
  display: block;
  margin-bottom: 15px;
}
.add-asset-btn-pan .p{
  font-size: 14px;
  margin-bottom: 15px;
  display: block;
  color: #444;
}
.add-asset-btn-pan .b{
  display: block;
  margin: 0 auto;
}

/*------------------------------------------|
|             accountabe-form               |
|------------------------------------------*/


.accountabe-form .file-field{
  padding-bottom: 15px;
}

/*------------------------------------------|
|                 ad-form                   |
|------------------------------------------*/
.ad-form .btn-re,
.ad-form .btn-de{
  padding: 0 12px;
  margin-top: 10px;
  margin-bottom: 5px;
}

/*------------------------------------------|
|                 tbl-realign               |
|------------------------------------------*/

.tbl-realign .dataTables_info{
  margin-left: 15px;
}

/*------------------------------------------|
|           change-status-form              |
|------------------------------------------*/

.change-status-form{

}
.change-status-form .n{
  text-align: center;
}
.change-status-form .n .material-icons{
  font-size:60px;
  color: #004e64;
  margin-top: 10px;
}
.change-status-form .p{
  font-size: 16px;
  font-weight: bold;
  color: red;
}
.change-status-form .p span{
  display: block;
  font-size: 12px;
  color: #444;
  font-weight: normal;
  margin-top: 5px;
}

/*------------------------------------------|
|                 datatables                |
|------------------------------------------*/

.dataTables_info{
  margin-left: 10px;
}