ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.pagination li{
	padding: 0 2px;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

ul.pagination li.active{
	background: transparent;
}

ul.pagination li.active > a{
    background-color: #2BBBAD;
    color: white;
    border: 1px solid #2BBBAD;
}

ul.pagination li a:hover:not(.active) {
	background-color: #ddd;
}
